extends ../layout

block content
  .container
    h3.page-header 설문조사 만들기
    p
    .row
      .col-sm-8
        form(action='/survey/preview', method='POST')
          .form
            .main
              label(for='title') 설문제목 :
              input(type='text', id='title', name='title', class='form-control', 
              placeholder='설문제목을 입력하세요', required, autofocus
              )
              p
              label(for='content') 설문지 설명 :
              input(type='text', id='content', name='content', class='form-control',
              placeholder='설문지 설명', autofocus
              )
            .sub
              .form-group
                p
                select.form-control(name='category')
                  option(value='단일입력', selected) 단일입력
                  option(value='객관식') 객관식
                  option(value='의견') 의견
                p
                label(for='question') 질문
                input(type='text', id='question', name='question', class='form-control',
                placeholder='질문 입력', required, autofocus
                )
              
            .actions
              button#post-survey.btn.btn-primary.btn-mini(type='button') 문항저장
            p
           .row
              .col-sm-4
                button.btn.btn-primary.btn-block 문항 추가
              .col-sm-4
                button.btn.btn-primary.btn-block(type='submit') 미리 보기
              .col-sm-4
                button.btn.btn-primary.btn-block 설문지 완성
                   
