extends layout

block hero-unit
  .jumbotron
    .container
      h1= title

block content
  .container
    .row
      .col-md-6
        h3 사용방법
        ul
          li 설문조사 디자인
          li 설문 응답 수집
          li 설문 결과 분석
        a.btn.btn-default.btn-mini(href='/survey/new') + 설문조사 만들기

  
